html, body{
    height: 100%;
}

.container-fluid{
    height: 100%;
}

.chat-room-heading{
    height: 100px;
    border-bottom: 1px solid #ccc;
    position: relative;
}

.chat-room-heading ul.nav-tabs{
    margin-top: 58px;
    padding-left: 10px;
}

.chat-room-heading ul.nav-tabs li .glyphicon-remove{
    font-size: 7pt;
    margin-left: 5px;
    position: relative;
    top: -5px;
    right: -5px;
}

.tab-content{
    height: calc(100% - 100px);
}

.chat-room-content{
    height: calc(100%);
}

.chat-area{
    height: 100%;
    padding-right: 0px;
}

.chat-history{
    padding: 20px;
    height: calc(100% - 50px);
    overflow: auto;
}

.chat-control{
    margin-right: 15px;
}

.users-area{
    background-color: #eee;
    padding: 0px;
    height: 100%;
    border-left: 1px solid #ccc;
}

ul.users-list{
    list-style: none;
    padding: 0px;
    margin: 0px;
}

ul.users-list li{
    border-bottom: 1px solid #ccc;
    padding: 5px 10px;
}