<!DOCTYPE html>
<html lang="en" ng-app="ircApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>IRC App</title>

    <!-- Bootstrap -->
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="css/app.css" rel="stylesheet" />

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body ng-controller="ChatRoomCtrl">
    <div class="container-fluid">
      <div class="row chat-room-heading">
          <ul class="nav nav-tabs" ng-if="windows.length > 0">
            <li ng-repeat="window in windows" ng-class="{active: $index==activeWindow}" ng-click="selectWindow($index)"><a class="nav" href="#tab-{{window.name}}"><span ng-if="window.type == 'chatroom'">#</span>{{window.name}} <span ng-click="closeWindow($index);" class="glyphicon glyphicon-remove"></span></a></li>
          </ul>
      </div>
      <div class="tab-content">
        <div ng-repeat="window in windows" class="row chat-room-content tab-pane" ng-class="{active: $index==activeWindow}" id="tab-{{window.name}}">
          <div class="chat-area" ng-class="{true:'col-md-10', false:'col-md-12'}[window.type == 'chatroom']">
            <div class="chat-history">
              <div class="message" ng-repeat="chatItem in window.chatHistory">
                <span class="message-user">{{chatItem.username}}:</span> <span class="message-text">{{chatItem.message}}</span>
                <span class="message-date">{{chatItem.created}}</span>
              </div>
            </div>
            <div class="chat-control">
              <form ng-submit="onSendMessage()">
                <div class="input-group">
                  <input type="text" class="form-control chatMessage" required="required" placeholder="Type your message here..." />
                  <span class="input-group-btn">
                    <button class="btn btn-success" type="submit">Send</button>
                  </span>
                </div>
              </form>
            </div>
          </div>
          <div class="col-md-2 users-area" ng-if="window.type == 'chatroom'">
            <ul class="users-list">
              <li ng-repeat="user in window.users"
              ng-class="{'bg-info text-info': isActive}"
              ng-init="isActive = false"
              ng-click="isActive = !isActive"
              ng-dblclick="openConversation(user.username)"
              >
                <span ng-switch="user.level">
                  <span ng-switch-when="op">@</span>
                  <span ng-switch-when="voice">+</span>
                </span>
                <span>{{user.username}}</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-route/angular-route.min.js"></script>
    <script src="bower_components/moment/min/moment.min.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>